body{
    
    font-family: cursive;
}

header{
    background-color: #D82148;
    width: 100%;
    font-size: 20px;
}

nav{
    padding: 10px;
}

.logo{
    border-radius: 100%;
    width: 20%;
}
ul{
    list-style-type: none;
   
}
li{
    display: inline;
    margin: 10px;
}

a:link{
    color: #fff;
}
a:visited{
    color: #9ADCFF;
}


.coffee-shop{
    width: 70%;
    padding: 10px;
    
}

.middle-container{
    background-color: #FF616D;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

}
h1{
    color: #D82148;
   
    
}
h2{
    color: #fff;
}
.chef1{
    border-radius: 100%;
    width: 20%;
    float: left;
    padding-left: 20px;
}
.chef2{
    border-radius: 100%;
    width: 20%;
    float: right;
    padding-right: 20px;
}
p{
    color: #fff;
    font-size: 20px;
    margin: 30px;
}
hr{
    width: 30%;
}

.btn :hover{
    background-color:#D82148;
    color: #fff;

}

.fa-brands{
    color:#9ADCFF;
}


footer{
    background-color: #D82148;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
