body{
    text-align: center;
    font-family: cursive;
}


nav{
    background-color: #D82148;
    width: 100%;
    font-size: 20px;
    font-family: cursive;
    padding: 10px;

}
li{
    
    list-style-type: none;
    display: inline-block;
    padding-left: 33px;

}
li :link{
    color: #fff;
}
li :visited{
    color: #9ADCFF;
}
li :hover{
    color: #EFA8E4;
}
.logo{
    border-radius: 100%;
    width: 25%;
    
    
}
.coffee-shop{
    width: 70%;
}

.middle-container{
    background-color: #FF616D;
    padding-top: 10px;
    padding-bottom: 10px;

}
h1{
    color: #D82148;
    
}
p{
    color: #fff;
    font-size: 20px;
    margin: 30px;
}
hr{
    width: 30%;
}
.button{
    background-color: #fff;
    border-radius: 12px;
    
}

.fa-brands{
    color:#D82148;

}

.bottom-container{
    background-color: #D82148;
}
