body{
    font-family: cursive;
}
header{
    padding:20px;
}
h2{
    color: rgb(173, 1, 30);
    font-size: 35px;
}
.navbar-brand{
    font-size: 50px;
    color: blueviolet;
}
.navbar-brand:hover{
    color: rgb(65, 0, 126);
}
.navbar-collapse{
    justify-content: end;
    
}
.navbar-nav a{
    color: rgb(238, 66, 95);
    font-size: 20px;
}
.navbar-nav a:hover{
    color: rgb(179, 2, 31);
    font-size: 25px;
    
}


footer{
    background-color: rgb(238, 144, 160);
    text-align: center;
    padding: 20px;
}
#redes{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.fa-brands{
    padding: 20px;
    color: rgb(179, 2, 31);
}
.fa-brands:hover{
    color: rgb(151, 2, 77);
}


